# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
module_00/ex01/awesome_phonebook
module_01/ex00/zombie
module_00/ex02/account
module_01/ex02/brain
module_01/ex03/violence
module_02/ex03/bsp
module_02/ex02/fixed
module_02/ex02/fixed
module_06/ex01/serializer
module_07/ex01/templates
module_07/ex02/templates
